@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cream";
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--color-black);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main aside {
    width: 15%;
    position: fixed;
    height: 100vh;
    background-color: var(--color-black);
    border-right: 3px solid var(--color-purple);
    box-shadow: 3px 0 15px 0 black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1.1%;
    align-items: center;
    gap: 2%;

}

.section_1 {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    padding-left: 23%;
}
.section_3 {
    width: 100%;
    height: 120vh;
    background-color: var(--color-black);
    display: flex;
    padding-left: 23%;
}

.aside_logo {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    /* box-shadow: 0px 0px 5px 0px black; */
    /* border: 2px solid var(--color-purple); */
    border-radius: 30px;
    height: 20%;
    background-color: var(--color-black);
    position: relative;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: #c300ff;
    text-shadow: 0px 0px 5px #c300ff;
}



.nav_links {
    width: 90%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    align-items: flex-start;
}

.nav_links li {
    width: 100%;
    height: 13%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    list-style: none;
}

.nav_links a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background: var(--color-black);
    height: 100%;
    position: relative;
    transition: 0.3s ease;
}

.nav_links a::after{
    position: absolute;
    content: '';
    width: 102%;
    height: 107%;
    border-radius: 15px;
    background: linear-gradient(to left, var(--color-purple), var(--color-white) 200%);
    z-index: -1;
}

.nav_links a:hover {
    box-shadow: 7px 0 20px var(--color-purple), -2px 0 20px var(--color-white);
    font-weight: bolder;
    text-shadow: 0px 0px 20px white;
    transition: .3s;
    
}

.media_links_2 {
    display: none;
    width: 90%;
    height: 20%;
    justify-content: center;
    justify-content: space-around;
}

.media_links {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.media_links_2 a{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    transition: 0.3s ease;
}

.media_links a{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    transition: 0.3s ease;
}

.media_links_2 a:hover{
    text-shadow: 0px 0px 5px var(--color-white);
    transition: .3s;
    font-size: 2.3em;
}

.media_links a:hover{
    text-shadow: 0px 0px 5px var(--color-white);
    transition: .3s;
    font-size: 2.3em;
}

.section_1_div{
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section_1_div small{
    margin-top: 20%;
    font-size: 1.2em;
    color: #c300ff;
    padding-left: 5px;
}
.section_1_div h1{
    color: white;
    font-size: 5em;
}
.section_1_div h2{
    color: #c300ff;
    font-size: 3em;
}
.section_1_div p{
    color: white;
    font-size: 1.5em;
    width: 65%;
    margin-top: 3%;

}

.cv {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background: none;
    color: white;
    font-size: 85%;
    padding: 10px;
    border: 3px solid var(--color-purple);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
    cursor: pointer;
    
}


.cv:hover {
    transition: .3s;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
    border: 3px solid white;
    background-color: var(--color-purple);
    box-shadow: 0px 0px 10px 0px white;
}

.section_2 {
    width: 100%;
    height: 50vh;
    background-color: var(--color-black);
    padding-left: 23%;
}

.section_2_div {
    padding-top: 6%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.section_2_div h3 {
    color: white;
    font-size: 36px;
}

.technologies_container{
    display: flex;
    gap: 20px;
}
.technologies_container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.technologies_container div h2{
    color: white;
    opacity: 0;
    transition: .3s;
}

.technologies_container div:hover .skill{
    opacity: 1;
    transition: .3s;
    text-shadow: 0px 0px 15px white;
}

.technologies_container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.section_4 {
    width: 100%;
    height: 110vh;
    background-color: var(--color-black);
}

.section_4_div {
    width: 100%;
    height: 100%;
    padding-left: 23%;
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    padding-top: 14%;
}

.section_4_div div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    gap: 50px;
}
.section_4_div div h1 {
    font-size: 44px;
    color: #c300ff;
}
.section_4_div div p {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.699);
}


.section_3_div{
    width: 90%;
    height: 100%;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 100px;
}

.section_1_div a {
    width: 15%;
    height: 5%;
    text-decoration: none;
}

.project_container {
    width: 540px;
    height: 500px;
    position: relative;
    object-fit: contain;
    background-image: opac;
    border-radius: 30px;
    border: 3px solid var(--color-purple-2);
    box-shadow: 0px 0px 15px 0px black;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;
    justify-content: space-evenly;
    transition: 1s ease;
   
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cine {
    background-image: url(../storage/img/cinema2.png);
}

.lawyer {
    background-image: url(../storage/img/lawyer.png);
}

.food {
    background-image: url(../storage/img/food.png);
}

.info div a {
    width: 30%;
    height: 100%;
    text-decoration: none;
}

.repositorio {
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-purple);
    background-color: var(--color-black);
    border-radius: 30px;
    color: white;
}

.deploy {
    width: 30%;
    height: 100%;
    border: 3px solid var(--color-purple);
    background-color: var(--color-black);
    border-radius: 30px;
    color: white;
}

.project_container:hover .background {
    opacity: .1;
    transition: 1s;
}

.project_container:hover .info {
    transition: 1s;
    opacity: 1;
}

.info {
    width: 100%;
    height: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 1s ease;
    justify-content: end;
    align-items: center;
    gap: 50px;
    border-radius: 30px;
    color: white;
    padding: 3%;
    background-color: var(--color-black);
}

.info div {
    width: 100%;
    height: 30%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}


.repositorio:hover {
    background-color: var(--color-purple);
    border: 3px solid #c300ff;
    box-shadow: 0px 0px 10px 0px #c300ff;
    font-weight: bolder;
    transition: .3s;
    text-shadow: 0px 0px 15px;
}
.deploy:hover {
    background-color: var(--color-purple);
    border: 3px solid #c300ff;
    box-shadow: 0px 0px 10px 0px #c300ff;
    font-weight: bold;
    text-shadow: 0px 0px 15px;
    transition: .3s;
}


@media (width < 1025px) {

    .section_1 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .section_2 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .technologies_container {
        height: auto;
    }
    .section_3 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        height: auto;
    }
    .section_4 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        height: auto;
    }

    main aside {
        height: 10vh;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .aside_logo {
        position: relative;
        margin: 0;
        font-size: 90px;
        width: 50%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 15px;
        height: 100%;
    }
    .nav_links li {
        width: 100%;
        height: 100%;
        background-color: none;
    }
    .nav_links a {
        width: 100%;
        padding: 1%;
        background-color: none;
        height: 100%;

    }
    .nav_links a::after {
        display: none;
        background-color: none;
    }
    .media_links {
        display: flex;
        align-items: center;
    }
    .cv {
        margin-top: 10px;
    }

    .project_container {
        width: 80%;

    }
    .section_4_div {
        width: 100%;
        padding: 0;
        padding-top: 14%;
        padding-bottom: 4%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (width < 765px) {

    main aside {
        border: none;
    }
    .section_1 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .section_2 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        height: auto    ;
    }
    .technologies_container {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section_3 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .section_4 {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        height: auto;
        
    }
    .section_4_div {
        flex-direction: column;
    }
    .section_4_div div {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 4%;
        text-align: justify;
    }
    .section_2_div h3 {
        text-align: center;
    }
    .section_1_div a{
        width: 120px;
    }
    .aside_logo {
        display: none;
    }
    .nav_links {
        width: 100%;
        justify-content: space-evenly;
    }
    .media_links {
        display: flex;
        justify-content: center;
        width: 30%;
        gap: 5px;
        display: none;
    }
    .media_links_2 {
        display: flex;
        padding-top: 12%;
        justify-content: start;
    }
    .media_links_2 a{
        width: 20%;
        justify-content: start;
    }
}